
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background: #e8f0f2; 
    color: #333;
    line-height: 1.6;
}





header {
    background: linear-gradient(135deg, #ff6f61, #d83a3a); 
    color: #fff;
    padding: 2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: xx-large;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif; 
}




main {
    margin: 0px;
    padding: 2rem 0;
}

main section {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main section:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

main h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif; 
}

main p {
    font-size: 1rem;
    color: #666;
}


button {
    background: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}

button:hover {
    background: #d83a3a;
    transform: scale(1.05);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
} 
